<!DOCTYPE html>
<html lang="en">

  <head>

    <title>{{pageTitle}} &mdash; Muffin</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="robots" content="noindex">

    <link rel="stylesheet" href="/admin/assets/styles.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,300italic,300">
    <link rel="apple-touch-icon" href="/admin/touch-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">

  </head>

  <body class="{{#unless path}}{{@exphbs.view}}{{/unless}}">

    {{#unless outer}}

      <header id="chest">
        <div class="inner">

          {{#nav menuItems}}
            <a href="{{url}}" class="{{status}}">{{title}}</a>
          {{/nav}}

          <a href="/login/bye" class="logo"></a>

          <a href="#menu" class="toggle">
            <span>
              <b></b>
              <b></b>
              <b></b>
            </span>
          </a>

        </div>
      </header>

      <main id="belly">

        <aside id="title">
          <div class="inner">

            {{#if editableTitle}}

              <h1 contenteditable="true">{{pageTitle}}</h1>

              <nav>
                <a href="#" class="current">Content</a>
                <a href="#">Sidebar</a>
                <a href="#">Options</a>
              </nav>

            {{else}}
              <h1>{{pageTitle}}</h1>
            {{/if}}

            {{#if list}}
              <a href="#" class="add">&plus;</a>
            {{/if}}

          </div>
        </aside>

        <section id="content" class={{divide}}>
          {{{body}}}
        </section>

      </main>

      <footer id="ass">

        <div class="inner">
          <a href="http://muff.in" target="_blank"></a>
          <p>You're using Muffin {{appVersion}}, thank you!</p>
        </div>

      </footer>

    {{else}}
      {{{body}}}
    {{/unless}}

    <script src="/admin/assets/app.js"></script>
  </body>

</html>
