<table class="list">

  <thead>
    <tr>
      <td><input type="checkbox"></td>
      <td>Title</td>
      <td>Author</td>
      <td>Date</td>
    </tr>
  </thead>

  <tbody>

    {{#each items}}

    <tr>
      <td><input type="checkbox"></td>
      <td>

        <a href="/admin/{{../slug}}/{{_id}}" class="title">{{title}}</a>

        <ul>
          <li class="edit"><a href="/admin/{{../slug}}/{{_id}}">Edit</a></li>
          <li class="delete"><a href="#">Delete</a></li>
          <li class="view"><a href="#">View</a></li>
        </ul>

      </td>

      {{#if author}}
        <td><a href="#" class="author">{{author}}</a></td>
      {{/if}}

      {{#if localeDates}}
        <td>{{localeDates.updated}}</td>
      {{/if}}

    </tr>

    {{/each}}

  </tbody>

  <tfoot>
    <tr>
      <td><input type="checkbox"></td>
      <td>Title</td>
      <td>Author</td>
      <td>Date</td>
    </tr>
  </tfoot>

</table>
