<table class="list">

  <thead>
    <tr>
      <td><input type="checkbox"></td>
      <td>{{ _ "Title" }}</td>
      <td>{{ _ "Author" }}</td>
      <td>{{ _ "Date" }}</td>
    </tr>
  </thead>

  <tbody>

    {{#each items}}

    <tr>
      <td><input type="checkbox"></td>
      <td>

        <a href="/admin/edit/{{id}}" class="title">{{title}}</a>

        <ul>
          <li class="edit"><a href="/admin/edit/{{id}}">Edit</a></li>
          <li class="delete"><a href="#">Delete</a></li>
          <li class="view"><a href="#">View</a></li>
        </ul>

      </td>
      <td><a href="#" class="author">{{author}}</a></td>
      <td>August 28, 2015</td>
    </tr>

    {{/each}}

  </tbody>

  <tfoot>
    <tr>
      <td><input type="checkbox"></td>
      <td>{{ _ "Title" }}</td>
      <td>{{ _ "Author" }}</td>
      <td>{{ _ "Date" }}</td>
    </tr>
  </tfoot>

</table>
