<!DOCTYPE html>
<html>

  <head>

    <title>Muffin</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="/admin/assets/styles.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,300italic,300">

  </head>

  <body class="{{@exphbs.view}}">

    <header id="chest">
      <div class="inner">

        {{#nav menuItems}}
          <a href="{{url}}">{{title}}</a>
        {{/nav}}

        <a href="/admin/logout" class="logo"></a>

        <a href="#menu" class="toggle">
          <span>
            <b></b>
            <b></b>
            <b></b>
          </span>
        </a>

      </div>
    </header>

    <main id="belly">

      <aside id="title">

        <div class="inner">
          <h1>{{pageTitle}}</h1>
        </div>

      </aside>

      <section id="content" class={{divide}}>
        {{{body}}}
      </section>

    </main>

    <footer id="ass">

      <div class="inner">
        <a href="http://muff.in" target="_blank"></a>
        <p>You're using Muffin 1.0.0, thank you!</p>
      </div>

    </footer>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/admin/assets/app.js"></script>
  </body>

</html>
