<!DOCTYPE html>
<html lang="en">

	<head>

		<title>Muffin - Dashboard</title>

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link href="{{assetPath "backend.css"}}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,300italic,300" rel="stylesheet" type="text/css">

	</head>

	<body>

		<header id="chest">
			<div class="inner">

				<nav>
					<a href="/admin" class="current">Dashboard</a>
					<a href="/admin/list">Pages</a>
					<a href="/admin">Posts</a>
					<a href="/admin/media">Media</a>
					<a href="/admin/settings">Settings</a>
				</nav>

				<a href="/admin/logout" class="logo"></a>

				<a href="#menu" class="toggle">
					<span>
						<b></b>
						<b></b>
						<b></b>
					</span>
				</a>

			</div>
		</header>

		<main id="belly">

			<aside id="title">
				<div class="inner">

					{{#is view "edit"}}
						<h1 contenteditable>{{pageTitle}}</h1>
					{{else}}
						<h1>{{pageTitle}}</h1>
					{{/is}}

				</div>
			</aside>

			<section id="content"{{#is view "dashboard"}} class="columns equal"{{/is}}>
				{{{content}}}
			</section>

		</main>

		<footer id="ass">
			<div class="inner">
				<a href="http://muff.in" target="_blank"></a>
				<p>You're using Muffin 1.0.0, thank you!</p>
			</div>
		</footer>

		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="{{assetPath "app.js"}}"></script>
	</body>

</html>